<% if(message.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="success-message">
    <%= message %>
  </div>
<% } %>


<div class="container w-50 mt-5">
    <h1 class="mt-2 text-center">Sign Up</h1> 
    <form action="/sign-up" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">User name</label>
        <input 
          type="name" 
          name="name"
          class="form-control" 
          id="exampleInputEmail1" 
          placeholder="Enter name"
          required
          >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input 
          type="email" 
          name="email"
          class="form-control" 
          id="exampleInputEmail1" 
          placeholder="Enter email"
          required
          >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input 
          type="password" 
          name="password"
          class="form-control" 
          id="exampleInputPassword1" 
          placeholder="Password"
          required
          >
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </form>
  </div>
  

  <script>
   
    setTimeout(function() {
      var successMessage = document.getElementById('success-message');
      if (successMessage) {
        successMessage.classList.remove('show');
        successMessage.classList.add('fade'); 
        
        
        setTimeout(function() {
          successMessage.remove(); 
        }, 500);
      }
    }, 2000); 
  </script>